#####################################################
#
# List of approvers for fms-hf-tuning repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

*  @fabianlim
