name: Image
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Free up disk space"
        uses: ./.github/actions/free-up-disk-space
      - name: Build NVCR dev Image
        run: |
          docker build -t fms-hf-tuning:main-nvcr-latest . -f build/nvcr.Dockerfile
      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}
      - name: Push docker image for every commit to Quay.io as dev images
        run: |
            docker push ${{ env.QUAY_REPOSITORY }}/fms-hf-tuning:main-nvcr-latest