name: Test
on:
  push:
    branches: [ "main", "release" ]
  pull_request:
    branches: [ "main", "release" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - setup: "3.9"
            tox: "py39"
          - setup: "3.10"
            tox: "py310"
          - setup: "3.11"
            tox: "py311"
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox
      - name: Run unit tests
        run: tox -e py